In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([23,43,54,34,50,65,76,35])

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
print(s1)

0    23
1    43
2    54
3    34
4    50
5    65
6    76
7    35
dtype: int64

In [5]:
s2 = pd.Series([7,76,57,68,90,59,84],index =['gaurav','tushar','mangesh','mahesh','piyush','rahul','rancho'])

In [6]:
s2

gaurav      7
tushar     76
mangesh    57
mahesh     68
piyush     90
rahul      59
rancho     84
dtype: int64

In [7]:
s2['gaurav']

np.int64(7)

In [8]:
s2['tushar']

np.int64(76)

In [9]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

In [10]:
df =pd.DataFrame(data)

In [11]:
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.columns

Index(['name', 'age', 'city'], dtype='object')